@define-color color0 #282828;
@define-color color1 #3C3836;
@define-color color2 #504945;
@define-color color3 #665C54;
@define-color color4 #7C6F64;
@define-color color5 #928374;
@define-color color6 #BDAE93;
@define-color color7 #EBDBB2;
@define-color color8 #FBF1C7;
@define-color color9 #FE8019;
@define-color color10 #D79921;
@define-color color11 #458588;
@define-color color12 #98971A;
@define-color color13 #CC241D;
@define-color color14 #689D6A;
@define-color color15 #B16286;

