*{
    font-family: "FiraCode Nerd Font";
    font-weight: bold;
    min-height: 0;
    font-size: 95%;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

window#waybar {
    background-color: @color8;
    border-radius: 0px;
    color: @color8;
}